<table class="matches" id="all-matches">
    <tbody>
        <tr>
            <td class="match-date">22.05.2012<br />12:30</td>
            <td class="match-home">Litex</td>
            <td class="match-result">0 : 0</td>
            <td class="match-away">Liverpool</td>
        </tr>
        <tr>
            <td class="match-date">22.05.2012<br />12:30</td>
            <td class="match-home">Levski</td>
            <td class="match-result">0 : 0</td>
            <td class="match-away">CSKA</td>
        </tr>
        <tr>
            <td class="match-date">22.05.2012<br />12:30</td>
            <td class="match-home">Beroe</td>
            <td class="match-result">0 : 0</td>
            <td class="match-away">Loko Sofia</td>
        </tr>
        <tr class="match-bet">
            <td colspan="4">
                <div class="bet-amount">
                    Bet amount: <input type="text" maxlength="6" size="6" />
                </div>
                <div class="bet-form">
                    <div class="bet-profit">
                        Profit: <span>0</span>
                    </div>
                    <a class="button">Bet</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="match-date">22.05.2012<br />12:30</td>
            <td class="match-home">Barcelona</td>
            <td class="match-result">0 : 0</td>
            <td class="match-away">Real Madrid</td>
        </tr>
        <tr>
            <td class="match-date">22.05.2012<br />12:30</td>
            <td class="match-home">Manchester United</td>
            <td class="match-result">0 : 0</td>
            <td class="match-away">Sporting Lisabon</td>
        </tr>
    </tbody>
</table>