<div data-template="single-match-template" data-bind="source: match">
</div>

<script type="text/x-kendo-template" id="single-match-template">
    <ul>
        <li>#: home #</li>
        <li>#: away #</li>
        <li>#: homeScore #</li>
        <li>#: awayScore #</li>
        <li>#: homeCoefficient #</li>
        <li>#: awayCoefficient #</li>
        <li>#: drawCoefficient #</li>
        <li>#: status #</li>
    </ul>
    
    #  if(betMania.data.isUserLogged()) { #
        you can bet here
    # } #

</script>
